<h1>welcome to <strong><i class="fa-sharp fa-solid fa-book"></i>Bookers</strong> !!</h1>

<p>
    In <i class="fa-sharp fa-solid fa-book"></i><strong>Bookers,</strong>
    
</p>
<p>
    you can share and exchange your opinions,inpressions,<br>
    and emotions
</p>

<p>
    about various books!
</p>

<li>
      <%= link_to "Log in",new_user_session_path %>
</li>

 <li>
      <%= link_to "Sign up",new_user_registration_path %>
</li>