<h1>welcome to Bookers !!</h1>

<p>
    In <strong>Bookers,</strong>
    
</p>
<p>
    you can share and exchange your opinions,inpressions,<br>
    and emotions
</p>

<p>
    about various books!
</p>

<li>
      <%= link_to "Log in",new_user_session_path %>
</li>

 <li>
      <%= link_to "Sign up",new_user_registration_path %>
</li>